html {
	height: 100%;
	margin: 0;
	padding:0;
}

body {
	background: #171717;
	margin: 0;
	padding:0;
	text-align:left;
	font-size:16px;
	color:#cccccc;
	font-family:"Arial Narrow";
}

a:link, a:visited {
	text-decoration: underline;
	color:#ffffff;
	font-weight:bold;
}

a:hover {
	color:#FC9E17;
}

img {
	border:none;
}

h1 {
	font-family:"Arial Narrow";
	font-weight:bold;
	text-align:center;
	font-size:120%;
	color:#41020e;
}

h2 {
	font-family:"Arial Narrow";
	font-weight:bold;
	text-align:center;
	font-size:200%;
	color:#333;
}

#page{
	width:900px;
	margin: 20px auto 0px auto;
	background: url(../images/bg.jpg);
}

#header {
	width:900px;
	height:300px;
	background: url(../images/headr.jpg);
	border: none;
	margin: 0;
	padding: 0;
}

#main {
	width: 780px;
	height: 100%;
	margin: 0;
	padding: 0 60px 0 60px;
}
#text1, #text3, #text5 {
	width: 370px;
	height: 80px;
	margin: 0 0 0 0;
	padding: 20px 10px;
	float:left;
	text-align: left;
	background: #313131;
}
#text2, #text4, #text6 {
	width: 370px;
	height: 80px;
	margin: 0 0 0 0;
	padding: 20px 10px;
	float:right;
	text-align: left;
	background: #313131;
}

#div a:hover {
	background: #171717;
}
#footer {
	width:900px;
	border: none;
	height:300px;
	font-size:16px;
	color:#cccccc;
	text-align:center;
	padding: 0;
	background: url(../images/footer.jpg);
	margin: 0 auto;
}

#help{
	width:740px;
	border: 1px solid #999;
	height:100%;
	font-size:16px;
	color:#cccccc;
	text-align:left;
	padding: 20px;
	margin: 10px auto;
}

.center {
	text-align:center;
}

.button {

}
.red {
	color: #ffffff;
	font-weight:bold;
	font-size:22px;
}
.bold {
	font-weight:bold;
}
